<footer>
    <div class="copyright">
        <img src="assets/footer-logo.png" alt="logo">
        <p><span>&copy; 2015 Select</span> <br> Designed by Akintola Rahmat</p>
    </div>
    <div>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-facebook-f"></i></span>
        <span><i class="fas fa-basketball-ball"></i></span>
        <span><i class="fab fa-behance"></i></span>
        <span><i class="fab fa-google-plus-g"></i></span>
        <span><i class="fab fa-linkedin-in"></i></span>
        <span><i class="fas fa-camera-retro"></i></span>
        <span><i class="fab fa-pinterest-square"></i></span>
    </div>
</footer>