<nav class="navbar">
    <img src="/assets/logo.png" alt="logo" width="100">
    <ul class="nav-menu">
        <li><a href="/" class="nav-link">Our Story</a></li>
        <li><a href="/menus" class="nav-link">Menu</a></li>
        <li><a href="#features" class="nav-link">Features</a></li>
        <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
        <li><a href="#book-table" class="nav-link">Book a Table</a></li>
        <li><a href="/review/about" class="nav-link">Reviews</a></li>
        <li><a href="/review" class="nav-link">Send a review</a></li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>