* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #252830; */
    padding: 0.95em 2em;
    position: fixed;
    width: 100%;
    min-height: 80;
    z-index: 2;
    /* transition: all 0.5s ease-in-out; */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.95em;
    font-weight: bold;
    padding-top: 2.7em;
}

.fa-ellipsis-h {
    color: aqua;
    font-size: 30px;
}

.header-bg {
    background-image: url('assets/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vh;
    position: relative;
}

.text-container {
    position: absolute;
    left: 15em;
    top: 12em;
    color: white;
    z-index: 2;
    padding: 5em;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.text-container h1 {
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.text-container h2 {
    font-size: 8em;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container {
    position: absolute;
    left: 18em;
    top: 48em;
}

.posts {
    display: flex;
    width: 50%;

}

.media img {
    width: 250px;
}

.header-media {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 25px;
    padding: 10px;
}

.media-post {
    padding: 1.5em 2em 1em 2em;
    line-height: 2em;
    font-size: 1.25em;
}


.price {
    font-weight: 900;
}

.story-section {
    background-color: rgb(201, 197, 193);
    text-align: center;
}

.story {
    padding-top: 10em;
}

.story-text {
    max-width: 25%;
    margin: 0 auto;
}

.story h1 {
    text-transform: capitalize;
    font-size: 2.7em;
    font-weight: 100;
    color: rgb(71, 70, 67);
    padding: 1.5em;
}

.story p {
    padding: 2.2em;
    color: rgb(71, 70, 67);
    letter-spacing: 0.5px;
    line-height: 1.45em;
    font-size: 1em;
}

.menu {
    background-image: url('assets/checked_menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 60vh;
    position: relative;
}

.menu-text {
    color: #fff;
    position: relative;
    left: 20em;
    top: -28em;
    z-index: 2;
}

.menu-text h1,
h2 {
    text-transform: uppercase;
    padding: 0.55em;
    font-size: 3.5em;
    line-height: 0.5em;
}

.menu-text h1 {
    font-weight: 100;
}

.menu-text p {
    padding: 1.3em;
    font-size: 1em;
}

.menu-btn {
    text-decoration: none;
    background-color: rgb(240, 176, 57);
    position: relative;
    left: 15em;
    bottom: 15em;
    color: #fff;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1.5em;
    border: 1px solid rgb(240, 176, 57);
    border-radius: 10px;
}

.feature-section {
    background-color: rgb(238, 235, 233);
    margin-top: -18em;
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 5em;
    margin-top: em;
    margin-left: 4em;
}

.feature-post {
    width: 23%;
    padding-top: 2em 2em 2em 2em;
}

.intro{
    margin-top: 10em;
}

.feature-post h2 {
    font-size: 1em;
}

.feature-post p {
    line-height: 1.5em;
    font-size: 1.2em;
    word-wrap: break-word;
    word-spacing: 0.25em;
}
@media (max-width: 1024px) {
    .text-container {
        text-align: center;
        left: 0;
        top: 5em;
    }

    .container {
        left: 0;
        top: 48em;
    }

    .media img {
        width: 150px;
    }

    .header-media {
        margin: 10px;
    }
}

@media (max-width: 440px) {
    .text-container {
        text-align: center;
        left: 0;
        top: 25em;
        font-size: 0.35em;
    }

    .container {
        left: 0;
        top: 38em;
    }


    .posts {
        flex-direction: column;
    }

    .media img {
        width: 250px;
    }


    .header-media {
        width: 200%;
    }
}