<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header class="header">
        <%- include('./partials/nav.ejs') %> 
    </header>
    <div class="feedback">
        <h1>We appreciate your review! &#128515 &#128157 </h1>
        <p>The page will be redirected in <span id="timer"></span>secs.</p>
    </div>
    <!-- <%- include('./partials/footer.ejs') %>  -->

    <script src="/JS/feedback.js"></script>
</body>
</html>