<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <div>
    <header class="header">
        <%- include('./partials/nav.ejs') %> 
    </header>
    
    <section class="about-content"></section>
    <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <%- include('./partials/footer.ejs') %> 
    </div>
    <script src="about.js"></script>
</body>
</html>