@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

#review-form {
    text-align: center;
    padding: 1em;
    margin-top: 5em;
}

.comments { 
    width: 50%;
    inline-size: 500px;
    color:#252830;
    background-color: red;
    /* margin: 20em; */
}

.form-container {
    width: 50%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    margin: 0 auto;
    padding: 5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.header>.navbar {
    background-color: #252830;
}

.form-group {
    margin: 1em 11em;
}

.form-group>input {
    width: 440px;
    padding: 1.5em;
    border-radius: 5px;
    color: #000;
}

.form-group>input:focus {
    outline: none;
    color: #000;
    font-size: 1em;
    box-shadow: #252830;
}

.form-group>textarea {
    padding: 0.95em;
    border-radius: 5px;
    color: #000;
    font-size: 1em;
    border: 2px solid #252830;
    box-shadow: #252830;
}

.form-btn {
    background-color: rgb(240, 176, 57);
    padding: 1em 4em;
    border: 1px solid rgb(185, 127, 19);
    box-shadow: rgb(240, 176, 57);
    color: #fff;
    margin: 1.5em 12em;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 600;
}



#wrapper {
    overflow: hidden;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.7s ease-in-out;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.navbar.fixed {
    background-color: #252830;
}

li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 0.99em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.nav-link:hover {
    color: aqua;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    background-color: aqua;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    margin: 5px auto;
}

.header-bg {
    background-image: url('assets/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150vh;
    position: relative;
}

.text-container {
    position: absolute;
    left: 15em;
    top: 13em;
    color: white;
    z-index: 2;
    /* padding: 5em; */
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.text-container h1 {
    font-size: 4.5em;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 0;
    padding-left: 1em;
}

.text-container h2 {
    inline-size: 850px;
    font-size: 8em;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.container {
    position: absolute;
    left: 18em;
    top: 48em;
}

.posts {
    display: flex;
    width: 50%;

}

.media img {
    height: 20vh;
}

.header-media {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 25px;
    padding: 10px;
    height: 40vh;
    width: 100%;
}

.media-post {
    padding: 1.5em 2em 1em 2em;
    line-height: 2em;
    font-size: 1.35em;
    font-family: 'Roboto', sans-serif;
}


.media-post .price {
    font-weight: 900;
}

.story-section {
    background-color: rgb(216, 210, 205);
    text-align: center;
}

.story {
    padding-top: 10em;
}

.story-text {
    max-width: 25%;
    margin: 0 auto;
}

.story h1 {
    text-transform: capitalize;
    font-size: 2.7em;
    font-weight: 100;
    color: rgb(71, 70, 67);
    padding: 1.5em;
}

.story p {
    padding: 2.2em;
    color: rgb(71, 70, 67);
    letter-spacing: 0.5px;
    line-height: 1.45em;
    font-size: 1em;
}

.menu {
    background-image: url('assets/checked_menu.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    position: relative;
}

.menu-text {
    color: #fff;
    position: relative;
    left: 10em;
    top: 8em;
    z-index: 2;
    text-align: left;
}

.menu-img {
    display: none;
    position: relative;
    left: 70em;
    bottom: 23.5em;
    height: 57vh;
    z-index: 2;
    transition: 0.7s ease-in;
}

.menu-img.active {
    display: block;
}

.menu-text h1,
h2 {
    text-transform: uppercase;
    padding: 0.55em;
    font-size: 3.5em;
    line-height: 0.5em;
}

.menu-text h1 {
    font-weight: 100;
}

.menu-text p {
    padding: 1.3em;
    font-size: 1em;
}

.menu-btn {
    background-color: rgb(240, 176, 57);
    color: #fff;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1.5em;
    border: 1px solid rgb(240, 176, 57);
    border-radius: 10px;
    cursor: pointer;
    margin: 2em 3em;
}

.feature-section {
    background-color: rgb(216, 210, 205);
    /* margin-top: -28em; */
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 5em;
}

.feature-post {
    width: 23%;
    padding-top: 2em 2em 2em 2em;
    ;
}

.intro {
    margin-top: 10em;
}

.feature-post h2 {
    font-size: 1em;
}

.feature-post p {
    line-height: 1.5em;
    font-size: 1.2em;
    word-wrap: break-word;
    word-spacing: 0.25em;
}

.last-intro {
    margin-bottom: 12em;
}

.reviews {
    background-image: url(assets/bg21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
}

.fa-star {
    color: yellow;
    font-size: 1.5em;
    margin-top: 12em;
    padding-bottom: 2em;
}

.review-text {
    margin: auto;
    inline-size: 800px;
    color: #fff;
    font-size: 1.65em;
    line-height: 1.5em;
}

.customer-section {
    padding: 9em;
    background: url(assets/bg5.jpg);
    background-size: auto 100%;
}

.customers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    margin-right: 15em;
    margin-left: 15em;
}

.icons {
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(139, 136, 136, 0.651);
    text-align: center;
}

.icons h2 {
    font-size: 0.65em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.icons p {
    font-size: 0.35em;
    font-weight: 600;
    color: #000;
}

.table {
    background-image: url(assets/bg36.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-table {
    width: 22vw;
    margin-right: 12em;
    margin-top: 10em;
    color: #fff;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

hr {
    color: transparent;
    opacity: 0.2;
    width: 35vw;
}

.left-table h2 {
    margin-top: 3.5em;
    padding: 0.5em 1em 1.3em 0;
    color: #fff;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: none;
}

.table-form>input {
    margin: 1.5em;
    padding: 1em 1em 1em 0;
    background-color: transparent;
    border: none;
    font-size: 0.9em;
}

input:focus {
    outline: none;
    color: #fff;
    font-size: 1em;
}

#message {
    padding-bottom: 6em;
}

.right-table p {
    padding-bottom: 1em;
    line-height: 1.9em;
}

.right-table i {
    padding: 0.8em;
}

.left-table button {
    background-color: rgb(240, 176, 57);
    padding: 0.5em;
    color: #fff;
    border: rgb(240, 176, 57);
    border-radius: 10px;
    margin: 2em;
    width: 35vw;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.left-table button i {
    padding: 0.35em;
}

.left-table button:hover {
    background-color: rgb(185, 127, 19);
}

footer {
    background-color: #252830;
    height: 20vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer i {
    font-size: 1.95em;
    color: gray;
    padding: 0.45em;
}

footer i:hover {
    color: #fff;
}

/* media query */

@media screen and (max-width: 700px) {
    .navbar {
        padding: 1em 0.65em;
        align-items: flex-start;
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3em;
        flex-direction: column;
        background-color: #252830;
        text-align: center;
        transition: 0.3s;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        gap: 0;
    }

    .nav-menu li {
        margin: 0.9em 1em;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        transform: translateY(0px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        color: aqua;
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-bg {
        min-height: 400vh;
    }

    .text-container {
        inline-size: 250px;
        text-align: center;
        left: 20%;
        top: 0;
        padding-top: 24em;
        font-size: 4vw;
    }

    .text-container h1 {
        font-size: 10vw;
        font-weight: 700;
        padding: 0;
        letter-spacing: 0.25em;
        line-height: 1.5em;
    }

    .text-container h2 {
        inline-size: 270px;
        font-size: 9.5vw;
        line-height: 1.2em;
        letter-spacing: 0.25em;
        font-weight: 600;
        padding: 0;
    }

    .container {
        left: 0em;
        top: 50em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15em;
    }

    .posts {
        width: 70%;
        flex-direction: column;
    }

    .media-post {
        display: flex;
        font-weight: 900;
        padding: 2em;
    }

    .media img {
        width: 100%;
        height: auto;
    }


    .header-media {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 2.5em;
    }

    .story {
        padding-top: 2.5em;
    }

    .story-text {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .story-section div>img {
        padding-top: 2.5em;
        padding-bottom: 3em;
        width: 100%;
    }

    .menu {
        min-height: 60vh;
    }

    .menu-text {
        top: 2em;
        text-align: center;
        left: 0;
        padding-top: 2.5em;
    }

    .menu-text h1 {
        font-weight: 500;
        font-size: 10vw;
        padding: 0.5em;
    }

    .menu-text h2 {
        font-weight: 900;
        font-size: 2.2em;
        line-height: 1.2em;
    }

    .menu-text div>p {
        font-weight: 900;
        padding-top: 1.5em;
    }

    .menu-btn {
        margin: 2em auto;
    }

    .feature {
        text-align: center;
        flex-direction: column;
        gap: 0.5em;
        padding: 2em;
    }

    .feature-post {
        width: 100%;
    }

    .feature-post h2 {
        font-size: 1.2em;
        padding: 0.75em;
    }

    .feature-post:nth-child(4) {
        margin-top: 8em;
    }

    .reviews {
        background-size: auto 100%;
        min-height: 50vh;
        text-align: center;
    }

    .fa-star {
        margin-top: 7em;
        margin-bottom: -1em;

    }

    .review-text {
        inline-size: 400px;
        font-size: 4.3vw;
        font-weight: 600;
        padding: 0.3em;
    }

    .customers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
        grid-row-gap: 3em;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
    }

    .table {
        flex-direction: column;
        min-height: 180vh;
    }

    .left-table {
        margin-top: -4em;
        text-align: left;
    }

    .left-table button {
        margin: 2em 5em;
    }

    hr {
        width: 100%;
    }

    .right-table {
        width: 100%;
        margin: 1em;
        text-align: left;
        padding: 1.5em;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 35vh;
    }

    footer>.copyright {
        padding-top: 3em;
        padding-bottom: 1.5em;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2em;
        line-height: 1.5em;
    }

}

@media screen and (min-width: 700px) and (max-width : 1200px) {
    .navbar {
        padding: 1em 0.65em;
        align-items: flex-start;
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3em;
        flex-direction: column;
        background-color: #252830;
        text-align: center;
        transition: 0.3s;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        gap: 0;
    }

    .nav-menu li {
        margin: 0.9em 1em;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        transform: translateY(0px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        color: aqua;
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-bg {
        min-height: 200vh;
    }

    .text-container {
        text-align: left;
        left: 5%;
        top: 6em;
        padding-top: 5.5em;
        font-size: 4vw;


    }

    .text-container h1 {
        font-size: 10vw;
        font-weight: 700;
        letter-spacing: 0.35em;
        padding: 0;
        line-height: 1.5em;
    }

    .text-container h2 {
        inline-size: 600px;
        font-size: 9vw;
        line-height: 1.2em;
        letter-spacing: 0.3em;
        font-weight: 600;
        padding: 0;
    }

    .container {
        width: 100%;
        left: 0;
        top: 50em;
        padding-top: 10em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .posts {
        width: 100%;
        flex-direction: row;
        gap: 0.95em;
    }

    .media-post {
        font-weight: 900;
        padding: 2em;
    }

    .media img {
        width: 100%;
        height: 20vh;
    }


    .header-media {
        width: 100%;
        min-height: 50vh;
        margin: 0;
    }

    .story {
        padding-top: 3em;
    }

    .story-text {
        max-width: 60%;
        margin: 0 auto;
    }

    .story-section div>img {
        padding-top: 2.5em;
        padding-bottom: 3em;
        width: 100%;
    }

    .menu-text {
        top: 3em;
        text-align: center;
        left: 0;
        padding-top: 1.5em;
    }

    .fa-star {
        margin-top: 10em;
        margin-bottom: -1em;
    }

    .review-text {
        inline-size: 650px;
        font-size: 3vw;
        font-weight: 600;
        padding: 0.45em;
    }

    .customers {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 1fr);
        grid-row-gap: 3em;
        margin: 0 auto;
        align-content: center;
        justify-content: space-around;
    }

    .left-table {
        margin-top: -4em;
        text-align: left;
        padding: 0.5em;
    }

    hr {
        width: 85%;
    }

    .right-table {
        width: 100%;
        margin: 1em;
        text-align: left;
        padding: 1.5em;
    }
}